.App {
  text-align: center;
  background-color: #ff6f3c;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  font-family: cursive;
  padding-top: 5vh;
}

#itm-container{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#single-itm button{
  background-color: #ff9a3c;
  border-radius: 25px;
  margin: 10px;
  width: auto;
  height: auto;
  font-size: large;
  font-weight: bold;
  color: #032630;
}

#single-itm{
  font-weight: bold;
  font-size: larger;
  color: #ffc93c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 75vw;
  max-width: 800px;
  height: auto;
  margin: 10px;
  background-color: #032630;
  border-radius: 50px;
}

#add-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#add-container input{
  margin: 10px;
  width: 50vw;
  height: 5vh;
  border: none;
  font-size: large;
  font-weight: bold;
  color: #032630;
  padding-left: 10px;
}
#add-container button{
  background-color: #032630;
  margin: 10px;
  width: auto;
  height: 5vh;
  font-size: large;
  font-weight: bold;
  color: #ffc93c;
}